# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# MLFlow
mlruns/
*.db
mlflow.db
mlflow.db.bak

# Secrets
local.settings.json
secrets/
settings_backup.json

# IDE
.vscode/
.idea/
