# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/

# Distribution / Packaging
dist/
build/
*.egg-info/

# Données locales (Bonne pratique : ne pas versionner les données volumineuses ou sensibles)
1_Packing_Lists_A_Traiter/*
!1_Packing_Lists_A_Traiter/.gitkeep
2_Fiches_Creees/*
!2_Fiches_Creees/.gitkeep
0_Modele_Et_Donnees/*
!0_Modele_Et_Donnees/modèle_fiche_controle.xlsx
!0_Modele_Et_Donnees/article.csv
*.spec
*.zip

# MLOps - MLflow
mlruns/
mlruns.db

# Logs
logs/*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Configuration sensible
.env
